<h1 class="notice--danger">
  <strong>STAY INFORMED</strong> <br />
  following content serves as a personal note and may lack complete accuracy or
  certainty.
</h1>

<p class="notice--info">
  <a href="https://henrychung98.github.io/commands/vscodeShortCutKeys/"
    >Useful vscode Shortcut Keys</a
  >
  <br />
  <a href="https://henrychung98.github.io/commands/unixCommands/"
    >Unix Commands</a
  >
  <br />
  <a href="https://henrychung98.github.io/commands/npmCommands/"
    >npm Commands</a
  >
  <br />
  <a href="https://henrychung98.github.io/commands/figmaShortCutKeys/"
  >Useful Figma Shortcut Keys</a
>
<br />
</p>
