<p class="notice--danger">
  <strong
    >Stay Informed: Not all contents are guaranteed since this is personal
    note</strong
  >
</p>

<p class="notice--info">
  <strong>/includes/top-banner.html</strong>

  <br /><br />
  <a href="https://henrychung98.github.io/commands/vscodeShortCutKeys/"
    >useful vscode shortcut keys</a
  >
  <br />
  <a href="https://henrychung98.github.io/commands/npmCommands/"
    >npm Commands</a
  >
  <br />
  <a href="https://henrychung98.github.io/commands/unixCommands/"
    >npm Commands</a
  >
  <br />
</p>
